<ion-view title="Living App">

    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header content-bg" has-bouncing="false" has-scroll="false">

        <!--
        <div class="content-scroller">
            <div class="nav-content" ng-repeat="bubble in navBubbles" style="position: absolute; display: {{contentIsVisible($index)}}; left: {{calcLeftForContent($index)}}px; top: 20px; width: {{windowWidth - 40}}px;">
                <div class="content-heading">{{bubble.title}}</div>

                <div style="color: white">{{debug}}</div>
                <div style="color: white">{{currentRotation}}</div>
            </div>
        </div>
        -->

        <div class="panel-container" style="width: {{windowWidth*navBubblesWithDupFirstEntryAtEnd.length}}px" id="panelContainer">
            <div class="panel" ng-repeat="bubble in navBubblesWithDupFirstEntryAtEnd" style="width: {{windowWidth}}px">
                <div class="content-heading">{{bubble.title}}</div>
                <div>
                    <img src="img/panels/{{bubble.image}}">
                </div>                
            </div>
        </div>


        <div class="bottom-dialer" style="top: {{bottomDialerTop}}px; left: {{bottomDialerLeft}}px; width: {{bottomDialerWidth}}px;">
            <div class="content-bg" scroll="false" id="swipeArea" >
                    <div id="dialHolder" class="holder" style="width: {{dialWidth}}px; height: {{dialWidth}}px; ">
                        <div class="nav-ball" ng-class="{'highlighted-bubble': $index == highlightedIndex}" ng-repeat="bubble in navBubbles" style="background-color: {{bubble.colour}}; top: {{bubble.top}}; left: {{bubble.left}};">
                            <!--<span>{{$index}}</span>-->
                            <i class="{{bubble.icon}} bubble-icon reverse-rotate"></i>
                        </div>
                    </div>

            </div>
        </div>




    </ion-content>
</ion-view>
