.dark-bg {
    background-color: #000000;
    color: #ffffff;
}

.nav-ball {
    position: absolute;
    z-index: 999999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 0.6;
}

.nav-ball.highlighted {
    -webkit-transform: scale(1.4);
    opacity: 1;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
}

.bar-dark {
    background-color: #000000 !important;
}

.content-bg {
    background-color: #222222;
}

.big-dialer {
    background-color: #2F2F2F;

    position: relative;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden !important;
}

.bottom-dialer {
    overflow: hidden;
    position: fixed;
    top: 500px;
    left: 0px;
    height: 200px;
    width: 100%;
}

.content-scroller {
    overflow: hidden;
}

.content-heading {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
    
    padding-top: 10px;
    padding-bottom: 30px;

}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.nav-content {
    position: absolute;
    left: 20px;
    top: 20px;
    opacity: 1;
    transition: left 2s;
    text-align: center;
    -webkit-animation: moveToMiddle 0.4s ease;
}

.bubble-icon {
    color: #ffffff;
}
.bubble-icon.large {
    font-size: 50px;
    font-weight: lighter;
}

.holder {
    /*-webkit-transition: -webkit-transform 0.005s ease-in;*/
    /*transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.1, 1);*/
    
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: rotate(0deg);
    -webkit-transform: translateZ(0);
    border-color: RGBA(141, 139, 141, 0.1);
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    overflow: hidden !important;
    background-color: #212121;
    background-image: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0, #2F2F2F),
            color-stop(1, #212121)
    );
}

@-webkit-keyframes moveToMiddle {
    from {left:-200px; top: 20px;}
    to {left:20px; top: 20px;}
}


/* Contains all panels */
.panel-container {
    position: absolute;
    top: 50px;
    left: 0;

    overflow: hidden;
}

/* One panel */
.panel {
    display: inline-block;      /* Place panels horizontally in container */
    text-align: center;
    opacity: 0.3;

    -webkit-transition: opacity 0.3s ease-in;
}
.panel.highlighted {
    opacity: 1;
}

.panel img {
    height: 150px;
}